.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.header-bar {
  position: relative;
  width: 80%;
  left: 10%;
  right: 10%;
}

.header-bar ul li {
  list-style-type: none;
  display: inline;

}
